<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SampleApplication" connectionString="Data Source=localhost;Initial Catalog=SampleApplication;Persist Security Info=True;User ID=AppUser; Password=1234567890" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>